body {

  background-color: #151515;
  color: #FFFFFF;
  font-family: "Arial", "Lucida Grande", sans-serif;
}

/* Give headings their own font */

h1,
h2,
h3,
h4 {
  font-family: "Arial", "Lucida Grande", sans-serif;
}

/* Main content area */

#content {
  margin: auto;
  text-align: center;
  width: 915px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#flipdown {
  margin: auto;
}

#countdown {
  display: block;
  margin: auto;
  padding-bottom: 10px;
  font-size: large;
  text-align: center;
}

/* Header/footer boxes */

.wideBox {
  clear: both;
  text-align: center;
  margin: 70px;
  padding: 10px;
  background: #ebedf2;
  border: 1px solid #333;
}

.wideBox h1 {
  font-weight: bold;
  margin: 20px;
  color: #666;
  font-size: 1.5em;
}

/* Slots for final card positions */

#cardSlots {
  margin: 5px;
  background: #ddf;
  color: #151515;
}

/* The initial pile of unsorted cards */

#cardPilot {
  margin: 5px;
  background: #ffd;

}

#cardNames {
  margin: 5px;
  background: #ffd;
  color: #151515;
}

#cardSlots,
#cardPilot,
#cardNames {
  width: 250px;
  height: 800px;
  padding: 20px;
  float: left;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}

/* Individual cards and slots */

#cardSlots div,
#cardPilot div {
  display: inline-block;
  text-align: center;
  width: 230px;
  height: 25px;
  padding: 2px;
  line-height: 25px;
  border: 1px solid #333;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  margin: 5px;
  background: #fff;
}


#cardNames li {
  padding: 5px 0 5px 5px;
  font-size: 16px;
  user-select: all;
  -moz-user-select: all;
  -webkit-user-select: all;
  text-align: left;
}

#cardNames ol {
  font-size: 16px;
  user-select: all;
  -moz-user-select: all;
  -webkit-user-select: all;
  text-align: left;
}

#cardSlots div.hovered {
  background: #aaa;
}

#cardSlots div {
  border-style: dashed;
}

#cardPilot div {
  background: #666;
  color: #fff;
  font-size: 14px;
  text-shadow: 0 0 3px #000;
}

#cardPilot div.ui-draggable-dragging {
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

.remove {
  position: absolute;
  top: 4px;
  right: 4px;
}

.logo {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
}

.logo a {
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
}